namespace:
  name: prod 
 
service:
  port: 7111

image:
  pullPolicy: Always

replicaCount: 5

resources:
  requests:
    cpu: 350m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

readinessProbe:
  httpGet:
    path: /healthz
    port: 3111

livenessProbe:
  httpGet:
    path: /healthz
    port: 3111
